Flask==1.1.2
redis
celery
Werkzeug==2.0.3
Jinja2==2.11.1
MarkupSafe==0.23
gunicorn==20.0.4
eventlet==0.30.2
flask-cors
Flask-SocketIO==5.1.1
flasgger
Flask-SQLAlchemy
importlib_resources
Flask-WTF==0.14.3
flower
pymysql
depinfo
python-dotenv
python-engineio==4.2.1
python-socketio==5.4.0
future
requests
contrabass
importlib-metadata==4.13.0
itsdangerous==2.0.1
pipdeptree==0.13.1
